.coveredCell {
  width: '2rem';
  height: '2rem';
  margin: '1px';
  display: 'flex';
  justify-content: 'center';
  flex-direction: 'column';
  text-align: 'center';
  background-color: 'lightgray';
  border-width: '1px';
  border-style: ridge;
}
