.info {
  color: white;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
}

.game-info {
  margin-bottom: 2rem;
}
